@charset "utf-8"; /* エンコードの種類を指定 */
body{
  margin: 0;
  /* Windows環境では「メイリオ」、OS X環境では「ヒラギノ角ゴ」、その他環境では「sans-self」 で表示*/
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
  margin: 0;
}

.red{color: #ff0000}
.blue{color: #0000ff}
.yellow{color: #ffff00}
.purple{color: #800080}
.green{color: #008000}
