@charset "utf-8"; /* エンコードの種類を指定 */
body{
  margin: 0;
  /* Windows環境では「メイリオ」、OS X環境では「ヒラギノ角ゴ」、その他環境では「sans-self」 で表示*/
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
  margin: 0;
}

.kintai-btn{
  padding: 80px;
  border-radius: 50%;
  font-size: 50px;
}
.text-center{text-align: center;}
.text-right{text-align: right;}
